@media (min-width: 1400px) {
    .container {
        padding-left: 50px;
        padding-right: 50px;
    }

    .container-fluid {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 1600.98px) {

    header {
        height: 66px;
        display: flex;
        align-items: center;
    }

    .offcanvas-overlay.active {
        visibility: visible;
        opacity: 1;
    }

    .sidebar-content-wrapper .sidebar {
        width: 60px;
    }

    .sidebar.collapse-sidebar {
        width: 240px;
    }

    .sidebar.collapse-sidebar .lg-nav {
        width: 240px;
    }

    .sidebar .lg-nav {
        width: 60px;
    }

    .sidebar-content-wrapper .content {
        width: calc(100% - 40px);
    }

    .sidebar-content-wrapper .content.large {
        width: calc(100% - 220px);
    }
}

@media (max-width: 1199.98px) {
    .product-col {
        width: 25%;
    }

    .category-list>* {
        width: 16.66%;
    }

    .sidebar-content-wrapper .content {
        width: 100%;
        padding-left: 0;
    }

    .sidebar-content-wrapper .content.large {
        width: 100%;
    }

    .sidebar-content-wrapper .sidebar .sticky-top {
        position: static !important;
    }

    .sidebar.collapse-sidebar .lg-nav {
        width: 260px;
    }

    .sidebar-content-wrapper .sidebar {
        width: 100%;
        max-width: 260px;
        position: fixed;
        top: 60px;
        bottom: 0;
        left: -260px;
        margin-left: 0;
    }

    .sidebar.collapse-sidebar {
        left: 0;
    }
}

@media (max-width: 991.98px) {
    .tags-carousel .tags-nav-link {
        padding: 4px 12px;
        font-size: 14px;
    }

    .course-link {
        font-size: 14px;
        padding: 5px 12px;
    }

    .product-col {
        width: 33.333%;
    }

    .category-list>* {
        width: 20%;
    }

    .form-container .left-area {
        width: 100%;
        order: 2;
    }

    .form-container .right-area {
        width: 100%;
    }
}

@media (max-width: 767.98px) {
    .product-col {
        width: 50%;
    }

    .category-list>* {
        width: 25%;
    }

    .form-container .graphics span:nth-child(1) svg {
        width: 80px;
        left: 10px;
    }

    .form-container .graphics span:nth-child(2) svg {
        width: 60px;
        top: 50px;
    }

    .form-container .graphics span:nth-child(3) svg {
        width: 80px;
    }

    .single-product-dif {
        flex-wrap: wrap;
    }

    .single-product-dif figure {
        flex: 0 0 auto;
        width: 100%;
        aspect-ratio: 1/0.6;
    }
}

@media (max-width: 575.98px) {
    .product-col {
        width: 100%;
    }

    .products-wrapper {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .space-y-10px>*:not(:first-child) {
        margin-top: 5px;
    }

    .category-list>* {
        width: 33.33%;
    }

    .form-container .left-area,
    .form-container .right-area {
        padding: 35px 20px;
    }
}

@media (max-width: 480.98px) {
    .category-list>* {
        width: 50%;
    }
}